/* src/components/Footer.css */
.footer {
    text-align: center;
    padding: 20px;
    background-color: white;
    color: #000;
    font-size: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
  }
  
  .footer-separator {
    margin-bottom: 20px;
    opacity: 0.2;
  }
  
  .footer p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #000;
    text-decoration: none;
  }
  
  .companies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .companies span {
    font-size: 0.875rem;
    color: #343a40;
  }
  
  @media (max-width: 768px) {
    .footer {
      display: none;
    }
  }
  