.filter-menu {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Add some margin at the bottom for spacing */
  }
  
  .filter-menu h3 {
    margin-bottom: 20px;
    font-size: 1.5em;
  }
  
  .category-dropdown {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
  }
  
  .category-dropdown:focus {
    outline: none;
    border-color: #333;
  }
  
  .category-dropdown::after {
    content: '▼';
    font-size: 0.6em;
    color: #333;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  